.root {
    -fx-background-color: rgb(255, 255, 255);
}

.nav-btn {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-size: 16;
    -fx-text-fill: rgb(40, 140, 255);
}

.nav-btn:hover {
    -fx-background-color: rgb(200, 200, 200);
}

.nav-btn:selected {
    -fx-background-color: rgb(40, 140, 255);
    -fx-text-fill: white;
}

.stat-pane {
    -fx-border-color: rgb(225, 225, 225);
    -fx-border-width: 0 0 1 0;
}

.stat-pane .caption {
    -fx-font-size: 16;
    -fx-padding: 0 0 10 0;
}

.stat-pane .statistic {
    -fx-font-size: 72;
}

#lbl-all-tasks {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#lbl-banner {
    -fx-font-size: 20;
    -fx-text-fill: rgb(40, 140, 255);
}

#lbl-task-overview {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 20 0 0 0;
}

#logo-pane {
    -fx-background-color: rgb(40, 40, 40);
}

#nav-pane {
    -fx-background-color: rgb(230, 230, 230);
}