.root {
    -fx-background-color: rgb(255, 255, 255);
}

.label {
    -fx-font-weight: bold;
}

#btn-completed {
    -fx-alignment: center;
}

#lbl-err {
    -fx-font-weight: normal;
    -fx-text-fill: rgb(255, 0, 0);
}

#lbl-task-title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}